@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://kit-pro.fontawesome.com/releases/v6.1.2/css/pro.min.css");
@import url("/assets/include/css/grid.css");
@import url("/assets/include/css/theme.css");

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: rgb(var(--body-bg));
  color: rgb(var(--body-clr));
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(var(--section-bg));
  border-bottom: 1px solid rgb(var(--section-border-clr));
}

.navbar .nav-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 22px;
  padding: 8px 14px;
  margin: 8px 0;
  border-radius: var(--rounded-md);
  cursor: pointer;
  transition: all 0.2s linear;
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.navbar .container,
.navbar .navbar-nav {
  display: flex;
  align-items: center;
}

.navbar .nav-link:hover {
  background: rgb(var(--black), 4%);
}
.navbar .nav-link:active {
  background: rgb(var(--black), 8%);
}

/* CONTAINER */

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container:not(.navbar .container) {
  padding-top: 88px;
}
.container:is(.navbar .container) .navbar-nav {
  margin-left: -8px;
  margin-right: -8px;
}

/* BUTTON */

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  appearance: none;
  height: 44px;
  padding: 0 26px;
  border-radius: var(--rounded-2xl);
  color: rgb(255, 255, 255);
  font-weight: 400;
  cursor: pointer;
}
.btn-primary {
  background: rgb(var(--primary));
}

/* DROPDOWN */

.has-dropdown-indicator::after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 500;
  margin-left: 6px;
  font-size: 12px;
  content: "\f078";
}

.dropdown:not(.active) .dropdown-menu {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.dropdown-menu {
  position: absolute;
}

/* TEXT */

.text-xxs {
  font-size: 10px;
  line-height: 12px;
}
.text-xs {
  font-size: 12px;
  line-height: 16px;
}
.text-sm {
  font-size: 14px;
  line-height: 20px;
}
.text-md {
  font-size: 16px;
  line-height: 24px;
}
.text-lg {
  font-size: 18px;
  line-height: 28px;
}
.text-xl {
  font-size: 20px;
  line-height: 32px;
}
.text-2xl {
  font-size: 24px;
  line-height: 36px;
}
.text-3xl {
  font-size: 30px;
  line-height: 40px;
}
.text-4xl {
  font-size: 36px;
  line-height: 48px;
}
.text-5xl {
  font-size: 48px;
  line-height: 56px;
}
.text-6xl {
  font-size: 60px;
  line-height: 68px;
}
.text-7xl {
  font-size: 72px;
  line-height: 80px;
}
.text-8xl {
  font-size: 96px;
  line-height: 104px;
}

.text-start {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.fw-normal {
  font-weight: 400;
}
.fw-medium {
  font-weight: 500;
}
.fw-semibold {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}

.text-muted {
  color: rgb(var(--muted));
}

/* OTHER */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
